* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?w=2000");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: space-evenly;
}

.box {
    width: 500px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 6px 5px 6px 5px rgba(0, 0, 0, 0.16);
    padding: 3.5rem;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

.text-box {
    padding: 14px 0px;
}

h4 {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 4px;
}

input {
    width: 80%;
    border: None;
    border-bottom: 2px solid #007bff;
    outline: None;
    font-size: 18px;
}

button {
    width: 100%;
    border: None;
    font-size: 22px;
    color: white;
    background-color: #007bff;
    padding: 5px 0px;
    cursor: pointer;
}

button:hover {
    background-color: #007bff5d;
}

#alert-login, #alert-signup {
    font-style: italic;
    margin-top: 15px;
    cursor: pointer;
    font-size: 19px;
}

.hidden {
    display: none;
}