* {
    margin: 0px;
}

.nav {
    font-family: 'Oswald';
    text-align: right;
    font-size: 25px;
    text-decoration: none;
}

.navbar-item {
    text-decoration: none;
}

.nav {
    color: white;
    background-color: rgb(173, 30, 50);
    padding: 10px;
}

.navbar-item {
    color: white;
    padding: 10px;
    height: 100%;
}

#img {
    display: flex;
    padding: auto;
    width: 210px;
    height: 150px;
}

a.navbar-item:hover {
    text-decoration: underline;
}

body {
    background-image: url("https://toquoc.mediacdn.vn/Uploaded/minhkhanh/2017_07_27/BIN_6105_DVJJ.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.container {
    background-color: white;
    margin-top: 20%;
    padding-bottom: 5%;
}

.news {
    text-decoration: none;
}

a.news:hover {
    text-decoration: underline;
}


#two {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    font-family: 'Rubik', sans-serif;
    color: white;
    background-color: rgb(173, 30, 50);
    padding: 10%;
}

.social-media{

}

